/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 mars 2016, 10:35:01
    Author     : admin
*/

.span {
    text-align: center;
    width: 200px;
    font-size: 45px;

}

body {
    background-color: black;
    color: white;
    font-family: calibri;
}

img{
    width: 1600px;
    height: 180px;
}

.pied {
    text-align: center;
    border-style: solid;
    border-radius: 10pt;
    border-color: white;
}

.contenu{
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.body{
    margin-left: auto;
    margin-right: auto;;

}


